body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 400px;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input {
    padding: 8px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background: #257488;
    color: white;
}

button:hover {
    background: #126782;
}

ul {
    list-style: none;
    padding: 10px;
   
    border-radius: 10px;
    margin-top: 20px;
}

li {
    margin: 10px 0;
    background: #8ecae6;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background: darkred;
}